<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
div{ width: 100;}
  </style>
</head>
<body>
  <div height="100px" style="float:left" border=></div>
  <div height="200px" style="float:left"></div>
  <div height="300px" style="float:right"></div>
  <div height="400px" style="float:right"></div>
  <div></div>

</body>
</html>
